.toolbarComponent {
  border: 1px solid #ccc;
  padding: 5px;
}

.imagepreview {
  display: none;
  width: 60%;
  height: 800px;
  top: 20%;
  left: 20%;
  background: white;
  position: fixed;
}

.imagepreviewActive {
  display: block;
  width: 60%;
  height: 800px;
  top: 20%;
  left: 20%;
  background: white;
  position: fixed;
}

.imageContainer {
  width: 300px;
  height: 300px;
  top: 100px;
  left: 30%;
  position: absolute;
}

.img {
    width: 100%;
}
